* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body {

    .green {
        color: rgb(0, 184, 0);
        font-size: 2rem;
    }

    .red {
        color: red;
        font-size: 2rem;
    }
}